In [3]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np

In [4]:
np.random.seed(42)
n_samples = 500
X1 = np.random.uniform(1,10,n_samples)
noise = np.random.normal(1,5,n_samples)
y = 10 * X1 + noise

In [6]:
data = pd.DataFrame({"Hours_Studied":X1,"Test_Score":y})
data.head()

   Hours_Studied  Test_Score
0       4.370861   46.417391
1       9.556429  105.945142
2       7.587945   81.631574
3       6.387926   61.994745
4       2.404168   20.549604